*
!.gitignore
!.git
!.git/
!.git/*
!.git/**
!omarchy
!omarchy/
!omarchy/*
!omarchy/**
!waybar
!waybar/
!waybar/*
!waybar/**
!yazi
!yazi/
!yazi/*
!yazi/**
!btop
!btop/
!btop/*
!btop/**
!mc
!mc/
!mc/*
!mc/**
!kitty
!kitty/
!kitty/*
!kitty/**
!alacritty
!alacritty/
!alacritty/*
!alacritty/**
!hypr
!hypr/
!hypr/*
!hypr/**
!fastfetch
!fastfetch/
!fastfetch/*
!fastfetch/**
!fish
!fish/
!fish/*
!fish/**
!starship.toml
!tmux
!tmux/*
!tmux/**
!walker
!walker/
!walker/*
!walker/**
!swayosd
!swayosd/
!swayosd/*
!swayosd/**
!mako
!mako/
!mako/*
!mako/**
