@import "../omarchy/current/theme/waybar.css";
@import "./colors.css";

* {
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 12px;
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 14px;
  font-weight: bold;
  /* border-radius: 12px; */
}

#waybar {
  background-color: rgba(31, 31, 40, 0.35);
  /* background: none; */
  border-bottom: 2px solid rgba(31, 31, 40, 0.45);
}

.modules-left {
  /* background-color: rgba(31, 31, 40, 0.85); */
  margin-left: 5px;
  padding-right: 8px;
  /* margin-top: 5px; */
  margin-right: 400px;
}

.modules-right {
  /* background-color: rgba(31, 31, 40, 0.85); */
  /* margin-top: 5px; */
  margin-right: 5px;
  padding: 0 8px;
}

.modules-center {
  /* margin-top: 5px; */
  padding-right: 8px;
  /* background-color: rgba(31, 31, 40, 0.85); */
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#hyprland-language,
#custom-update {
  font-size: 18px;
  min-width: 12px;
  margin: 0 7.5px;
}

/* ~/.config/gtk-3.0/gtk.css */
.menu {
  background: none;
  border-radius: 6px;
  color: #ebdbb2;
}

#tray {
  padding: 4px 6px;
  border-radius: 5px;
}

tooltip,
#custom-omarchy tooltip,
#hyprland-language tooltip,
#custom-update tooltip,
#tray tooltip,
#network tooltip,
#battery tooltip,
#pulseaudio tooltip,
#cpu tooltip,
#bluetooth tooltip {
  color: @foreground;
  border-radius: 5px;
  padding: 2px 3px;
  font-size: 14px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
